@page
@model IndexModel
@{
    ViewData["Title"] = "Beranda";
}

<section class="hero-section">
    <div class="logo-hero">
        <div class="link-terkait">
            <img src="/Assets/Logo_Pesona_Indonesia.png" alt="" class="pesona" />
            <img src="/Assets/Jawa_Tengah.png" alt="" class="jateng" />
            <img src="/Assets/Galeri_Indonesia_Kaya.png" alt="" class="galeri" />
        </div>
        <div class="dibudpar-logo">
            <img src="/Assets/Logo_Brebes.png" />
            <h4>disbudpar.brebeskab.go.id</h4>
        </div>
        
        <h3>Dinas Kebudayaan dan Pariwisata <br />Kota Brebes</h3>
    </div>

    <div class="title-text">
        <h1>Kabupaten <br />Brebes</h1>
    </div>

    <div class="slider-background">
       <div class="image-slider">
          
        </div>
    </div>
</section>

<section class="sambutan">
    <div class="title-section">
        <h2>Sambutan Kepala Dinas</h2>
        <img src="/Assets/Element/Mask group.png" />
    </div>

    <div class="isi-sambutan">
        <div class="kepala-dinas">
        </div>
        <div class="foto-kepala-dinas">
            <img src="/Assets/Kepala_Dinas.png" />
            <h4>Rofiq Qoidul Adzam, SH.</h4>
            <h5>Kepala Dinas Kabupaten Brebes</h5>
        </div>
        <div class="text-sambutan">
            <p>
                Assalamualaikum Wr. Wb.<br />
                Salam sejahtera untuk kita semua<br /><br />

                Selamat datang di website resmi Dinas kebudayaan dan pariwisata. Saya, Rofiq Qoidul Adzam, SH. dengan senang hati menyambut Anda
                semua di platform ini. Website ini dibuat dengan tujuan untuk memberikan akses yang lebih mudah dan transparan kepada masyarakat,
                para pemangku kepentingan, dan semua pihak yang tertarik dengan informasi dan layanan yang kami sediakan.<br /><br />

                Melalui website ini, Anda akan dapat mengakses berbagai informasi terkait tugas pokok dan fungsi Dinas Kebudayaan dan pariwisata,
                program-program yang kami jalankan, berita terkini, serta berbagai layanan yang kami tawarkan. Kami berkomitmen untuk terus
                meningkatkan kualitas pelayanan kepada masyarakat. Website ini adalah salah satu upaya kami dalam menghadirkan informasi yang lebih
                cepat, akurat, dan mudah diakses. Saya mengundang Anda untuk menjelajahi setiap bagian dari website ini, menggali informasi yang Anda
                butuhkan, dan menghubungi kami jika Anda memerlukan bantuan lebih lanjut. Kami selalu siap mendengar dan membantu Anda.<br /><br />

                Wassalamualaikum Wr. Wb.
            </p>
        </div>
    </div>

</section>

