@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutBeranda.cshtml";
    ViewData["Title"] = "Beranda";
}

<section class="hero-section">
    <div class="logo-hero">
        <div class="link-terkait">
            <img src="/Assets/Logo_Pesona_Indonesia.png" alt="" class="pesona" />
            <img src="/Assets/Jawa_Tengah.png" alt="" class="jateng" />
            <img src="/Assets/Galeri_Indonesia_Kaya.png" alt="" class="galeri" />
        </div>
        <div class="dibudpar-logo">
            <img src="/Assets/Logo_Brebes.png" />
            <h4>disbudpar.brebeskab.go.id</h4>
        </div>
        
        <h3>Dinas Kebudayaan dan Pariwisata <br />Kota Brebes</h3>
    </div>

    <div class="title-text">
        <h1>Kabupaten <br />Brebes</h1>
    </div>

    <div class="main-wrapper">
        <div class="slider-wrapper">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="slides">
                <img src="~/Assets/Slider Hero Section/slide1.jpg" alt="nature">
            </div>
            <div class="slides">
                <img src="~/Assets/Slider Hero Section/slide2.jpg" alt="nature">
            </div>
            <div class="slides">
                <img src="~/Assets/Slider Hero Section/slide3.jpg" alt="nature">
            </div>
            <div class="slides">
                <img src="~/Assets/Slider Hero Section/slide4.jpg" alt="nature">
            </div>
        </div>
    </div>

    <form class="search" action="">
        <input type="search" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </form>
</section>

<section class="sambutan">
    <div class="element">
        <img src="~/Assets/Element/Element in section 2.png" />
    </div>
    
    <div class="title-section-sambutan">
        <h2>Sambutan Kepala Dinas</h2>
        <img src="/Assets/Element/Mask group.png" />
    </div>

    <div class="isi-sambutan">
        <div class="kepala-dinas">
        </div>
        <div class="foto-kepala-dinas">
            <img src="/Assets/Kepala_Dinas.png" />
            <h4>Rofiq Qoidul Adzam, SH.</h4>
            <h5>Kepala Dinas Kabupaten Brebes</h5>
        </div>
        <div class="text-sambutan">
            <p>
                Assalamualaikum Wr. Wb.<br />
                Salam sejahtera untuk kita semua<br /><br />

                Selamat datang di website resmi Dinas kebudayaan dan pariwisata. Saya, Rofiq Qoidul Adzam, SH. dengan senang hati menyambut Anda
                semua di platform ini. Website ini dibuat dengan tujuan untuk memberikan akses yang lebih mudah dan transparan kepada masyarakat,
                para pemangku kepentingan, dan semua pihak yang tertarik dengan informasi dan layanan yang kami sediakan.<br /><br />

                Melalui website ini, Anda akan dapat mengakses berbagai informasi terkait tugas pokok dan fungsi Dinas Kebudayaan dan pariwisata,
                program-program yang kami jalankan, berita terkini, serta berbagai layanan yang kami tawarkan. Kami berkomitmen untuk terus
                meningkatkan kualitas pelayanan kepada masyarakat. Website ini adalah salah satu upaya kami dalam menghadirkan informasi yang lebih
                cepat, akurat, dan mudah diakses. Saya mengundang Anda untuk menjelajahi setiap bagian dari website ini, menggali informasi yang Anda
                butuhkan, dan menghubungi kami jika Anda memerlukan bantuan lebih lanjut. Kami selalu siap mendengar dan membantu Anda.<br /><br />

                Wassalamualaikum Wr. Wb.
            </p>
        </div>
    </div>

</section>

<section class="wisata">
    <div class="title-section-wisata">
        <h2>Wisata Kabupaten Brebes</h2>
        <h4>Berbagai Destinasi wisata dan Kegiatan Budaya yang ada di Kabupaten
            Brebes telah kami siapkan untuk Anda dan Keluarga</h4>
        <img src="/Assets/Element/Mask group (1).png" />
    </div>
    <div class="grid-wisata-container">
        <div class="grid-wisata">
            <div class="item item1">
                <img src="/Assets/Wisata Section/Mangrove-Brebes.jpg" />
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h1>Mangrove Pandasari</h1>
                        <p>Pandansari, Kaliwlingi, Kec. Brebes, Kabupaten Brebes, Jawa Tengahe</p>
                    </div>
                </div>
            </div>
            <div class="item item2">
                <img src="/Assets/Wisata Section/waduk_penjalin.png" />
                <div class="caption-text">
                    <h1>Waduk Penjalin</h1>
                    <p>Jalan Raya Waduk Penjalin 41, RT 03/ 01 Kec. Paguyangan, Kabupaten Brebes, Jawa Tengah</p>
                </div>
            </div>
            <div class="item item3">
                <img src="/Assets/Wisata Section/losari-.jpg" />
                <div class="caption-text">
                    <h1>Pantai Putih Losari</h1>
                    <p>6V46+M4P, Sawah,Ladang,Tamak, Karangdempel, Kec. Losari, Kabupaten Brebes, Jawa Tengah</p>
                </div>
            </div>
            <div class="item item4">
                <img src="/Assets/Wisata Section/Curug_Walet.jpg" />
                <div class="caption-text">
                    <h1>Curug Walet</h1>
                    <p>Brebes Rt 01 Rw 06 Kedungjambal Tawangsari Kab. 1.000.000. Sukoharjo.</p>
                </div>
            </div>
            <div class="item item5">
                <img src="/Assets/Wisata Section/curug-putri.jpg" />
                <div class="caption-text">
                    <h1>Curug Putri</h1>
                    <p>Q3WV+W4F, Padanama, Mendala, Kec. Sirampog, Kabupaten Brebes, Jawa Tengah 52466</p>
                </div>
            </div>
            <div class="item item6">
                <img src="/Assets/Wisata Section/ranto-canyon.jpg" />
                <div class="caption-text">
                    <h1>Ranto Canyon</h1>
                    <p>Gunungtajem, Winduasri, Kec. Salem, Kabupaten Brebes, Jawa Tengah 52275</p>
                </div>
            </div>
            <div class="item item7">
                <img src="/Assets/Wisata Section/Bukit_Cawiri.jpg" />
                <div class="caption-text">
                    <h1>Bukit Cawiri</h1>
                    <p>XRH5+M5G, Unnamed Road,, Area Sawah Dan Kebun, Malahayu, Kec. Banjarharjo, Kabupaten Brebes, Jawa Tengah 52265</p>
                </div>
            </div>
            <div class="item item8">
                <img src="/Assets/Wisata Section/Pasir_Gibug.jpg" />
                <div class="caption-text">
                    <h1>Pasir Gibug</h1>
                    <p>Desa Penanggapan, Kecamatan Banjarharjo, Kabupaten Brebes, Provinsi Jawa Tengah</p>
                </div>
            </div>
            <div class="item item9">
                <img src="/Assets/Wisata Section/Jembatan-Bambu.jpg"/>
                <div class="caption-text">
                    <h1>Bukit Panenjoan</h1>
                    <p>VQ62+2CC, Dukuh Babakan, Wanoja, Salem Kec. Salem, Kabupaten Brebes, Jawa Tengah 52275</p>
                </div>
            </div>
            <div class="item item10">
                <img src="/Assets/Wisata Section/Bukit_Bintang Capar.jpg" />
                <div class="caption-text">
                    <h1>Bukit Bintang Capar</h1>
                    <p>VPMQ+VM4, Capar, Kec. Salem, Kabupaten Brebes, Jawa Tengah 52275</p>
                </div>
            </div>
            <div class="item item11">
                <img src="/Assets/Wisata Section/Telaga.jpg">
                <div class="caption-text">
                    <h1>Cagar Alam Telaga Renjeng</h1>
                    <p>desa Pandansari, kecamatan Paguyangan, Kabupaten Brebes</p>
                </div>
            </div>
            <div class="item item12">
                <img src="/Assets/Wisata Section/Kebun_Teh.jpg" />
                <div class="caption-text">
                    <h1>Kebun Teh Kaligua</h1>
                    <p>Jl. Kaligua No.6, Sawah,Ladang, Ragatunjung, Kec. Paguyangan, Kabupaten Brebes, Jawa Tengahe</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Button-Wisata">
        <button asp-page="~/Wisata">Lihat Semua Tour</button>
    </div>
    <div class="circle">
        <p id="circle1"></p>
        <p id="circle2"></p>
        <p id="circle2"></p> 
    </div>
</section>

<section class="Berita">
        <div class="title-section-Berita">
            <h2>Berita dan Artikel</h2>
            <h4>
                Baca juga informasi menarik, tips & trik
                seputar ntraveling berikut ini
            </h4>
            <img src="/Assets/Element/Mask group (2).png" />
        </div>

    <div class="main-berita">
        <div class="Berita-Kiri">
            <h6>Postingan yang disematkan</h6>
            <div class="Pinned-Berita">
                <h2 class="Judul">Festival Ekonomi Kreatif Menggenjot Kebangkitan UMKM</h2>
                <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                <img src="~/Assets/Berita Section/Festifal_Ekonomi.png" />
                <p class="text-berita">Ekonomi kreatif memberikan nilai lebih pada
                    produk lokal untuk menunjang sektor pariwisata. Menyadari hal
                    tersebut Dinas Kebudayaan dan Pariwisata Brebes menggelar festival
                    ekonomi kreatif untuk pokdarwis dan desa pariwisata.
                    Dalam festifal juga berisi pembinaan dan Bazar UMKM.
                    <br />
                    <br />
                    “Kegiatan ini juga dikolaborasikan dengan pertunjukan seni sebagai
                    bentuk pelestarian kesenian daerah sekaligus menjadi daya tarik
                    bagi pengunjung” kata kepala Dinas kebudayaan dan Pariwisata Brebes Rofiq
                    Qoidul Adzam, SH mewakili Pj bupati brebes saat membuka festival
                    ekonomi kreatif di Pendopo cadika, Waduk MAhalayu, Banjarharjo, Brebes (15/7).
                </p>
                <br />
                <p>Baca Selengkapnya</p>
                <div class="garis-bawah"></div>
                <div class="reaction">
                    <h5>Komentar</h5>
                    <h5>Share</h5>
                </div>
            </div>
            <div class="Anak-Berita">
                <div class="Berita1">
                    <h2 class="Judul">Ketentuan dan Persyaratan Lomba LKTI Cagar Budaya 2023</h2>
                    <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                    <div class="isi-berita">
                        <img src="~/Assets/Berita Section/syarat_LKTI.png" />
                        <p class="text-berita">
                            Ketentuan dan Persyaratan Karya Tulis Ilmiah (LKTI) Cagar Budaya Tahun 2023.<br /><br />

                            Peserta adalah Siswa/Siswi SMA/SMK/MA Negeri atau Swasta di wliayah kabupaten
                            Brebes yang dikuatkab dengan Surat Keterangan dari Kepala Sekolah?Kepala Madrasah.
                        </p>     
                    </div>
                    <br />
                    <p>Baca Selengkapnya</p>
                    <div class="garis-bawah"></div>
                    <div class="reaction">
                        <h5>Komentar</h5>
                        <h5>Share</h5>
                    </div>
                </div>
                <div class="Berita2">
                    <h2 class="Judul">Batik Salem Brebes di Tetapkan Sebagai Warisan Budaya Tak Benda</h2>
                    <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                    <div class="isi-berita">
                        <img src="~/Assets/Berita Section/Batik_Salem.png" />
                        <p class="text-berita">
                            Satu lagi kekayaan dan potensi  kabupaten Brebes yaitu Batik Salem ditetapkan sebagai
                            warisan Budaya Tak Benda (WBTB). Batik Salem melengkapi Kekayaan Sebelumnya yang sudah
                            tercatat sebagai WBTB yaitu Ritual Ngasa Jawalastu dan Telor Asin.
                       </p>
                    </div>
                    <br />
                    <p>Baca Selengkapnya</p>
                    <div class="garis-bawah"></div>
                    <div class="reaction">
                        <h5>Komentar</h5>
                        <h5>Share</h5>
                    </div>
                </div>
                <div class="Berita3">
                    <h2 class="Judul">Ngasa Gandoang Salem dan Text Gunung Sahara</h2>
                    <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                    <div class="isi-berita">
                        <img src="~/Assets/Berita Section/Ngasa.png" />
                        <p class="text-berita">Ngasa Gandoang desa Gandoang Salem
                            Kabupaten Brebes akan dilaksanakan pada selasa kliwon,
                            28 Februari 2023. Ngasa Gandoang dilaksanakan sejak ratusan lalu.
                            Teks Goenoeng Segara merupakan teks yang dituliskan dalam bahasa
                            belanda oleh Karel Frederick Holle (1928 - 1896) dari hasil perjalanan.
                        </p>
                    </div>
                    <br />
                    <p>Baca Selengkapnya</p>
                    <div class="garis-bawah"></div>
                    <div class="reaction">
                        <h5>Komentar</h5>
                        <h5>Share</h5>
                    </div>
                </div>
        </div>
        <div class="Berita-Kanan">
            <aside>
                    <div class="info-box info-box-1">
                        <h3>Informasi Penting 1</h3>
                        <p>Ini adalah beberapa informasi penting yang bisa Anda tampilkan di sini.</p>
                    </div>
                    <div class="info-box info-box-2">
                        <h3>Informasi Penting 2</h3>
                        <p>Ini adalah informasi penting lainnya.</p>
                    </div>
                    <div class="info-box info-box-3">
                        <h3>Informasi Penting 3</h3>
                        <p>Ini adalah informasi penting yang berbeda lagi.</p>
                    </div>
                    <div class="info-box info-box-4">
                        <h3>Informasi Penting 4</h3>
                        <p>Ini adalah informasi penting yang berbeda lagi.</p>
                    </div>
            </aside>
        </div>
            <div class="Button-Berita">
                <button asp-page="~/Media">Lihat Berita</button>
            </div>
        </div>
    </div>
</section>
