@page
@model Redesign_disbudpar.Pages.Kalender_KegiatanModel
@{
}

<section class="page-Kegiatan">
	<div class="title-page-Kegiatan">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23f2f6fa&ctz=UTC&showTitle=0&showNav=1&showTabs=1&showTz=1&showPrint=1&src=a2VidWRheWFhbi5kaW5idWRwYXJAZ21haWwuY29t&color=%23F6BF26" 
		style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>