@page
@model Redesign_disbudpar.Pages.MediaModel
@{
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<head>
    <script>
        $(document).ready(function () {
            $(".tab-nav-wrapper li.active").click();
            $($(".tab-nav-wrapper li.active a").attr("href")).show();

            $(".tab-nav-wrapper li").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                $(".tab-nav-wrapper li").removeClass("active");
                $(this).addClass("active");

                var target = $(this).find("a").attr("href");
                $(".tab-content-wrapper").find(".tab-content").hide();
                $(".tab-content-wrapper").find(target).show();
            })
        });
    </script>
</head>

<div class="tabs">
    <div class="tab-nav-wrapper">
        <ul>
            <li class="active"><a href="#tab1">Berita</a></li>
            <li><a href="#tab2">Artikel</a></li>
        </ul>
    </div>
    <div class="tab-content-wrapper">
        <div id="tab1" class="tab-content" style="display:none;">
            <section class="Section-Media">

                <div class="Media-Berita">

                    <div class="Berita1">
                        <h2 class="Judul">Ketentuan dan Persyaratan Lomba LKTI Cagar Budaya 2023</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/syarat_LKTI.png" />
                            <p class="text-berita">
                                Ketentuan dan Persyaratan Karya Tulis Ilmiah (LKTI) Cagar Budaya Tahun 2023.<br /><br />

                                Peserta adalah Siswa/Siswi SMA/SMK/MA Negeri atau Swasta di wliayah kabupaten
                                Brebes yang dikuatkab dengan Surat Keterangan dari Kepala Sekolah?Kepala Madrasah.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>
                    <div class="Berita2">
                        <h2 class="Judul">Batik Salem Brebes di Tetapkan Sebagai Warisan Budaya Tak Benda</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Batik_Salem.png" />
                            <p class="text-berita">
                                Satu lagi kekayaan dan potensi  kabupaten Brebes yaitu Batik Salem ditetapkan sebagai
                                warisan Budaya Tak Benda (WBTB). Batik Salem melengkapi Kekayaan Sebelumnya yang sudah
                                tercatat sebagai WBTB yaitu Ritual Ngasa Jawalastu dan Telor Asin.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>
                    <div class="Berita3">
                        <h2 class="Judul">Ngasa Gandoang Salem dan Text Gunung Sahara</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Ngasa.png" />
                            <p class="text-berita">
                                Ngasa Gandoang desa Gandoang Salem
                                Kabupaten Brebes akan dilaksanakan pada selasa kliwon,
                                28 Februari 2023. Ngasa Gandoang dilaksanakan sejak ratusan lalu.
                                Teks Goenoeng Segara merupakan teks yang dituliskan dalam bahasa
                                belanda oleh Karel Frederick Holle (1928 - 1896) dari hasil perjalanan.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>

                    <div class="Berita1">
                        <h2 class="Judul">Ketentuan dan Persyaratan Lomba LKTI Cagar Budaya 2023</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/syarat_LKTI.png" />
                            <p class="text-berita">
                                Ketentuan dan Persyaratan Karya Tulis Ilmiah (LKTI) Cagar Budaya Tahun 2023.<br /><br />

                                Peserta adalah Siswa/Siswi SMA/SMK/MA Negeri atau Swasta di wliayah kabupaten
                                Brebes yang dikuatkab dengan Surat Keterangan dari Kepala Sekolah?Kepala Madrasah.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>
                    <div class="Berita2">
                        <h2 class="Judul">Batik Salem Brebes di Tetapkan Sebagai Warisan Budaya Tak Benda</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Batik_Salem.png" />
                            <p class="text-berita">
                                Satu lagi kekayaan dan potensi  kabupaten Brebes yaitu Batik Salem ditetapkan sebagai
                                warisan Budaya Tak Benda (WBTB). Batik Salem melengkapi Kekayaan Sebelumnya yang sudah
                                tercatat sebagai WBTB yaitu Ritual Ngasa Jawalastu dan Telor Asin.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>
                    <div class="Berita3">
                        <h2 class="Judul">Ngasa Gandoang Salem dan Text Gunung Sahara</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Ngasa.png" />
                            <p class="text-berita">
                                Ngasa Gandoang desa Gandoang Salem
                                Kabupaten Brebes akan dilaksanakan pada selasa kliwon,
                                28 Februari 2023. Ngasa Gandoang dilaksanakan sejak ratusan lalu.
                                Teks Goenoeng Segara merupakan teks yang dituliskan dalam bahasa
                                belanda oleh Karel Frederick Holle (1928 - 1896) dari hasil perjalanan.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            
        </div>
        <div id="tab2" class="tab-content" style="display:none;">

            <section class="Section-Media">

                <div class="Media-Berita">

                    <div class="Berita3">
                        <h2 class="Judul">Ngasa Gandoang Salem dan Text Gunung Sahara</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Ngasa.png" />
                            <p class="text-berita">
                                Ngasa Gandoang desa Gandoang Salem
                                Kabupaten Brebes akan dilaksanakan pada selasa kliwon,
                                28 Februari 2023. Ngasa Gandoang dilaksanakan sejak ratusan lalu.
                                Teks Goenoeng Segara merupakan teks yang dituliskan dalam bahasa
                                belanda oleh Karel Frederick Holle (1928 - 1896) dari hasil perjalanan.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>


                    <div class="Berita2">
                        <h2 class="Judul">Batik Salem Brebes di Tetapkan Sebagai Warisan Budaya Tak Benda</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Batik_Salem.png" />
                            <p class="text-berita">
                                Satu lagi kekayaan dan potensi  kabupaten Brebes yaitu Batik Salem ditetapkan sebagai
                                warisan Budaya Tak Benda (WBTB). Batik Salem melengkapi Kekayaan Sebelumnya yang sudah
                                tercatat sebagai WBTB yaitu Ritual Ngasa Jawalastu dan Telor Asin.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>

                    <div class="Berita1">
                        <h2 class="Judul">Ketentuan dan Persyaratan Lomba LKTI Cagar Budaya 2023</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/syarat_LKTI.png" />
                            <p class="text-berita">
                                Ketentuan dan Persyaratan Karya Tulis Ilmiah (LKTI) Cagar Budaya Tahun 2023.<br /><br />

                                Peserta adalah Siswa/Siswi SMA/SMK/MA Negeri atau Swasta di wliayah kabupaten
                                Brebes yang dikuatkab dengan Surat Keterangan dari Kepala Sekolah?Kepala Madrasah.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>


                    <div class="Berita3">
                        <h2 class="Judul">Ngasa Gandoang Salem dan Text Gunung Sahara</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Ngasa.png" />
                            <p class="text-berita">
                                Ngasa Gandoang desa Gandoang Salem
                                Kabupaten Brebes akan dilaksanakan pada selasa kliwon,
                                28 Februari 2023. Ngasa Gandoang dilaksanakan sejak ratusan lalu.
                                Teks Goenoeng Segara merupakan teks yang dituliskan dalam bahasa
                                belanda oleh Karel Frederick Holle (1928 - 1896) dari hasil perjalanan.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>


                    <div class="Berita2">
                        <h2 class="Judul">Batik Salem Brebes di Tetapkan Sebagai Warisan Budaya Tak Benda</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/Batik_Salem.png" />
                            <p class="text-berita">
                                Satu lagi kekayaan dan potensi  kabupaten Brebes yaitu Batik Salem ditetapkan sebagai
                                warisan Budaya Tak Benda (WBTB). Batik Salem melengkapi Kekayaan Sebelumnya yang sudah
                                tercatat sebagai WBTB yaitu Ritual Ngasa Jawalastu dan Telor Asin.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>

                    <div class="Berita1">
                        <h2 class="Judul">Ketentuan dan Persyaratan Lomba LKTI Cagar Budaya 2023</h2>
                        <h6 class="Info-Post">Di posting 18 juli 2023, oleh Mahmud</h6>
                        <div class="isi-berita">
                            <img src="~/Assets/Berita Section/syarat_LKTI.png" />
                            <p class="text-berita">
                                Ketentuan dan Persyaratan Karya Tulis Ilmiah (LKTI) Cagar Budaya Tahun 2023.<br /><br />

                                Peserta adalah Siswa/Siswi SMA/SMK/MA Negeri atau Swasta di wliayah kabupaten
                                Brebes yang dikuatkab dengan Surat Keterangan dari Kepala Sekolah?Kepala Madrasah.
                            </p>
                        </div>
                        <br />
                        <div class="baca-selengkapnya">
                            <p>Baca Selengkapnya</p>
                            <i class="bi bi-arrow-right"></i>
                        </div>

                        <div class="garis-bawah"></div>
                        <div class="reaction">
                            <div class="coment">
                                <i class="bi bi-chat-dots-fill"></i>
                                <h5>Komentar</h5>
                            </div>
                            <div class="share">
                                <i class="bi bi-share-fill"></i>
                                <h5>Share</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

    </div>
</div>