@page
@model Redesign_disbudpar.Pages.Pelayanan_PublikModel
@{
}

<div class="row">
    <div class="columnLeft">
        <h2 style="">Pelayanan Publik</h2>
        <h5>Prosedur</h5>
        <h5>Lingkungan Seni</h5>
        <h5>Permohonan Data</h5>
        <h5>Survey Kepuasan Masyarakat</h5>
        <h5>Form Laporan Pelaksanaan Tugas</h5>
    </div>
    <div class="columnRight">test</div>
</div>