@page
@model Redesign_disbudpar.Pages.PetaWisataModel
@{
}

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.561223649219!2d108.79143031414753!3d-7.176609672418409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f77cfb2c965f7%3A0xa17bfcd61c46716e!2sKubang%20Bali%20Resort!5e0!3m2!1sid!2sid!4v1627170968062!5m2!1sid!2sid"
            width="1200" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>