@page
@model Redesign_disbudpar.Pages.PPIDModel
@{
}

<section class="row-container">
<div class="row">
    <div class="columnLeft">
        <h2 style="font-size: 30px; margin-top: 20px; margin-bottom: 20px">PPID</h2>
        <h5>Informasi Profil Badan Publik</h5>
        <h5>Program Kegiatan dan Keuangan</h5>
        <h5>Informasi Pengadaan Barang</h5>
        <h5>Index Kepuasan Masyarakat</h5>
        <h5>Maklumat Standar Pelayanan</h5>
        <h5>Usulan Masyarakat</h5>
    </div>
    <div class="columnRight">test</div>
</div>
</section>