@page
@model PrivacyModel
@{
    ViewData["Title"] = "Profile";
}

<section class="hero-profile">
    <div id="backgorund-hero-profile"></div>
    <div class="gabungan-hero">
        <div class="dibudpar-logo-profile">
            <img src="/Assets/Logo_Brebes.png" />
            <div class="text-profile-hero">
                <h1>Profile Dinas Kebudayaan dan Pariwisata Kabupaten Brebes</h1>
                <div class="garis-bawah-profile"></div>
                <h4>
                    Kami memiliki misi untuk mendorong inovasi dalam seni, budaya,
                    dan industri pariwisata untuk menciptakan pengalaman yang tak terlupakan.
                </h4>
            </div>
            <div class="info-disbudpar">
                <div class="kotak">
                    <h2>1 JT+</h2>
                    <h6>Pengunjung Wisata</h6>
                </div>
                <div class="kotak">
                    <h2>100+</h2>
                    <h6>Pengguna Web Aktif</h6>
                </div>
                <div class="kotak">
                    <h2>1 M+</h2>
                    <h6>Pendapatan Penjualan</h6>
                </div>
                <div class="kotak">
                    <h2>50+</h2>
                    <h6>Karyawan</h6>
                </div>
            </div>
            <div class="element-hero-profile">
                <img src="~/Assets/Element/Element in section 2.png" />
            </div>
        </div>
    </div> 
</section>

<section class="visi-misi">
    <div class="title-visi-misi">
        <h1>VISI</h1>
        <h1>& MISI</h1>
        <img src="~/Assets/Element/Mask group(3).png" />
    </div>
    <div id="background-visi-misi">
        <div class="visi">
            <h3>Visi Dinas Kebudayaan dan Pariwisata Kabupaten Brebes</h3>
            <p>Visi dari Dinas Kebudayaan dan Pariwisata Kabupaten Brebes
                adalah terwujudnya Kabupaten Brebessebagai kawasan budaya
                serta destinasi pariwisata menuju masyarakat yang mandiri,
                produktif dan berkeadilan.</p>
        </div>
        <div class="misi">
            <h3>Misi  Dinas Kebudayaan dan Pariwisata Kabupaten Brebes</h3>
            <ol>
                <li>1. Mengembangkan Destinasi Pariwisata yang unggul dengan memperhatikan
                    pada pelestarian sumber daya alam dan nilai nilai lokal.</li>
                <li>2. Membina dan Melestarikan nilai nilai budaya lokal guna mendukung
                    perkembangan destinasi pariwisata yang menarik, mandiri, kreatif,
                    efisian, terpadu, dan berdaya saing tinggi.</li>
                <li>3. Membina dan meningkatkan kualitas sumber daya manusia yang
                    berkarakter dalam pengembangan kebudayaan dan pariwisata
                    yang berkelanjutan</li>
                <li>4. Menerapkan nilai nilai luhur budaya lokal, untuk menggerakan peran serta
                    masyarakat, melaksanakan sinergitas kemitraan antar stakeholder, guna
                    mewujudkan pelestarian kebudayaan dan peningkatan aktivitas pariwisata
                    yang berdampak pada kesejahteraan masyarakat.</li>
            </ol>
        </div>
    </div>
</section>

<section class="Tentang-kami">
    <div class="title-tentang-kami">
        <h2>Tentang Kami</h2>
        <img src="/Assets/Element/Mask group (1).png" />
    </div>
    <div class="background-tentang-kami">
        <p>Kedinasan Kebudayaan dan Pariwisata Kabupaten Brebes adalah lembaga pemerintah yang berdedikasi
            untuk melestarikan kekayaan budaya, seni, dan alam, serta mempromosikan potensi pariwisata yang
            dimiliki oleh Kabupaten Brebes. Kami percaya bahwa kebudayaan dan pariwisata adalah aset berharga
            yang dapat menjadi sarana memperkenalkan keunikan dan pesona wilayah kami kepada dunia.</p>
    </div>
</section>         

<section class="struktur-organisasi">
    <div class=title-struktur>
            <h2>Struktur Organisasi</h2>
            <h4>Struktur Organisasi Dinas Kebudayaan dan Pariwisata Kabupaten Brebes</h4>
            <img src="/Assets/Element/Mask group (2).png" />
    </div>
    <div id="background-struktur-organisasi">
        <img src="~/Assets/struktur-organisasi-dinbudpar-scaled.jpg" />
    </div>
</section>