@page
@model Redesign_disbudpar.Pages.WisataModel
@{
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<head>
    <script>
        $(document).ready(function () {
            $(".tab-nav-wrapper li.active").click();
            $($(".tab-nav-wrapper li.active a").attr("href")).show();

            $(".tab-nav-wrapper li").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                $(".tab-nav-wrapper li").removeClass("active");
                $(this).addClass("active");

                var target = $(this).find("a").attr("href");
                $(".tab-content-wrapper").find(".tab-content").hide();
                $(".tab-content-wrapper").find(target).show();
            })
        });
    </script>
</head>

<div class="tabs">
    <div class="tab-nav-wrapper">
        <ul>
            <li class="active"><a href="#tab1">Wisata Budaya</a></li>
            <li><a href="#tab2">Wisata Daerah</a></li>
        </ul>
    </div>
    <div class="tab-content-wrapper">
        <div id="tab1" class="tab-content" style="display:none;">
            <div class="card-container-tab1">
                <div class="card-tab1">Card 1</div>
                <div class="card-tab1">Card 2</div>
                <div class="card-tab1">Card 3</div>
                <div class="card-tab1">Card 4</div>
                <div class="card-tab1">Card 5</div>
            </div>
            <div class="card-container-tab1">
                <div class="card-tab1">Card 6</div>
                <div class="card-tab1">Card 7</div>
                <div class="card-tab1">Card 8</div>
                <div class="card-tab1">Card 9</div>
                <div class="card-tab1">Card 10</div>
            </div>
        </div>
        <div id="tab2" class="tab-content" style="display:none;">
            <div class="card-container-tab2">
                <div class="card-tab2">Card 1</div>
                <div class="card-tab2">Card 2</div>
                <div class="card-tab2">Card 3</div>
                <div class="card-tab2">Card 4</div>
                <div class="card-tab2">Card 5</div>
            </div>
            <div class="card-container-tab2">
                <div class="card-tab2">Card 6</div>
                <div class="card-tab2">Card 7</div>
                <div class="card-tab2">Card 8</div>
                <div class="card-tab2">Card 9</div>
                <div class="card-tab2">Card 10</div>
            </div>
        </div>
    </div>
</div>
