@page
@model Redesign_disbudpar.Pages.WisataModel
@{
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<head>
    <script>
        $(document).ready(function () {
            $(".tab-nav-wrapper li.active").click();
            $($(".tab-nav-wrapper li.active a").attr("href")).show();

            $(".tab-nav-wrapper li").click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                $(".tab-nav-wrapper li").removeClass("active");
                $(this).addClass("active");

                var target = $(this).find("a").attr("href");
                $(".tab-content-wrapper").find(".tab-content").hide();
                $(".tab-content-wrapper").find(target).show();
            })
        });
    </script>
</head>

<div class="tabs">
    <div class="tab-nav-wrapper">
        <ul>
            <li class="active"><a href="#tab1">Wisata Budaya</a></li>
            <li><a href="#tab2">Wisata Daerah</a></li>
        </ul>
    </div>
    <div class="tab-content-wrapper">
        <div id="tab1" class="tab-content" style="display:none;">
            <div class="card-container-tab1">
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Bukit_Bintang Capar.jpg')"></div>
                    <h4>Bukit Bintang Capar</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <form method="post" asp-page-handler="Wisata">
                        <button id="bukit" class="visit" onclick="">visit</button>
                    </form>
                    
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Bukit_Cawiri.jpg')"></div>
                    <h4>Bukit Cawiri</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Ranto_Canyon.jpg')"></div>
                    <h4>Ranto Canyon</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Pasir_Gibug.jpg')"></div>
                    <h4>Pasir Gibug</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Pantai_Losari.jpg')"></div>
                    <h4>Pantai Losari</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
            </div>
            <div class="card-container-tab1">
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Mangrove-Pandansari.jpg')"></div>
                    <h4>Mangrove Pandansari</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Jembatan-Bambu.jpg')"></div>
                    <h4>Jembatan Bambu</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Telaga.jpg')"></div>
                    <h4>Telaga</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Kebun_Teh.jpg')"></div>
                    <h4>Kebun Teh</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab1">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Curug_Putri.jpg')"></div>
                    <h4>Curug Putri</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-content" style="display:none;">
            <div class="card-container-tab2">
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Curug_Putri.jpg')"></div>
                    <h4>Curug Putri</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Kebun_Teh.jpg')"></div>
                    <h4>Kebun Teh</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Telaga.jpg')"></div>
                    <h4>Telaga</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Jembatan-Bambu.jpg')"></div>
                    <h4>Jembatan Bambu</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Mangrove-Pandansari.jpg')"></div>
                    <h4>Mangrove Pandansari</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
            </div>
            <div class="card-container-tab2">
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Pantai_Losari.jpg')"></div>
                    <h4>Pantai Losari</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Pasir_Gibug.jpg')"></div>
                    <h4>Pasir Gibug</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Ranto_Canyon.jpg')"></div>
                    <h4>Ranto Canyon</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Bukit_Cawiri.jpg')"></div>
                    <h4>Bukit Cawiri</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
                <div class="card-tab2">
                    <div class="card-img" style="background-image:url('../Assets/Wisata Section/Bukit_Bintang Capar.jpg')"></div>
                    <h4>Bukit Bintang Capar</h4>
                    <p>lorem ipsum dolor sit amet</p>
                    <button class="visit">visit</button>
                </div>
            </div>
        </div>
    </div>
</div>
